project:
  type: website
  output-dir: docs

# Meta
description-meta: "Kirill Kushnarev's website"
author-meta: "Kirill Kushnarev"

website:
  title: "Kirill Kushnarev"
  image: "/files/images/kirill's.JPG"
  description: "Kirill Kushnarev"
 
  navbar:
    background: light

    left:
#      - text: Home
#        href: index.qmd
      - text: About
        menu:
          - text: CV
            href: posts.qmd#category=news
          - text: Research Statement
            href: posts.qmd#category=event      
          - text: Contact
            href: contact.qmd             
      - text: Research
        menu:
          - text: Publications
            href: publications.qmd
          - text: Working Papers
            href: posts.qmd#category=paper
          - text: Work-in-Progress
            href: projects.qmd                                
      - text: Teaching
        href: teaching.qmd
      - text: Coding and Packages       
        href: posts.qmd#category=presentation                   



    right:
      - text: in Russian
        href: people.qmd
      - text: CV (.pdf)
        href: files/kakush_cv-4.pdf
      - icon: github
        href: https://github.com/kkushnarev
        target: _blank
      - text: "{{< fa brands bluesky >}}"
        href: https://bsky.app
        target: _blank      

  
  page-navigation: true
  
  page-footer: 
    left: "[Kirill Kushnarev](http://kkushnarev.github.io) &copy; <script>document.write(new Date().getFullYear())</script>"
    right:  
      - icon: github
        href: https://github.com/kkushnarev
        target: _blank
      - text: "{{< fa brands bluesky >}}" 
        href: https://bsky.app
        target: _blank
      - icon: rss
        href: posts.xml
        target: _blank  
  
  search:
    location: navbar
    type: textbox
  
  reader-mode: true

  draft-mode: unlinked
  
  repo-url: https://github.com/kkushnarev/kkushnarev.github.io
#  repo-actions: [edit, issue, source]
  
  open-graph: true
  
  twitter-card: true 
#  card-style: summary      
  
  site-url: "https://kkushnarev.github.io"
  
  google-analytics:
    tracking-id: "G-HG16GK3RFT"  # Please delete or replace with your own tracking ID
    anonymize-ip: true 

bibliography: references.bib

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    footnotes-hover: true
    code-copy: true
    code-link: true
    code-overflow: wrap
    fig-align: center
    link-external-icon: false
    link-external-newwindow: true
    email-obfuscation: javascript
    link-external-filter: '^(?:http:|https:)\/\/drganghe\.github\.io\/custom'
    include-in-header: "files/includes/_academic.qmd"


